<div class="row">
  <div class="col-12">
    <h3>projects:</h3>
  </div>
</div>

<div class="row">
  <div class="col-12 col-md-8">
    <br />
    <button *ngIf="canManageProjects" class="btn btn-outline-secondary" routerLink="/project-manage/project">new project..</button>
  </div>
</div>

<div class="row">
  <div class="col-12 col-md-8">
    <ul class="list-group list-group-flush">
      <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let project of projects">
        <a data-test="project-link" routerLink="/project-manage/project/{{project.id}}">{{project.name}}</a>
        &nbsp;
        <span *ngIf="!project.active" class="badge badge-secondary">inactive</span>
        <span class="badge badge-secondary">{{project.id}}</span>
      </li>
    </ul>
  </div>
</div>
