<div class="row">
  <div class="col-12">
    <h3>
      monthly user work: {{this.fromTitle}}
    </h3>
  </div>
</div>

<div class="row d-print-none">
  <div class="col-12">
    <button type="button" class="btn btn-light" (click)="onMonthDisplayChange(-1)">
      -
    </button>
    month {{this.from}}
    <button type="button" class="btn btn-light" (click)="onMonthDisplayChange(1)">
      +
    </button>
  </div>
</div>

<div class="row" *ngIf="!!this.teamMemberWorkDoneResult && this.teamMemberWorkDoneResult.length >= 1">
    <div class="col-8">user</div>
    <div class="col-2">entries</div>
    <div class="col-2">total hours</div>
</div>
<div class="row" *ngIf="!this.teamMemberWorkDoneResult || this.teamMemberWorkDoneResult.length === 0">
  <div class="col-12">
    <p>
      <br /><em>no work done.</em><br />
    </p>
  </div>
</div>

<div class="row" data-test="report-data-row" *ngFor="let tmWork of this.teamMemberWorkDoneResult">
    <div class="col-8"><strong>{{tmWork.userId}}</strong>: &nbsp; {{tmWork.name}}</div>
    <div class="col-2">{{tmWork.workHoursCount}}</div>
    <div class="col-2"><strong>{{tmWork.workHoursSum}}</strong>&nbsp;h</div>
</div>


