<div class="container">

  <nav aria-label="main-navigation" class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" *ngIf="isAuthenticated">
          <a class="nav-link" routerLink="/time-entry" i18n="@@menu.timeEntry">time-entry</a>
        </li>
        <li class="nav-item" *ngIf="isLeadOrAdmin">
          <a class="nav-link" routerLink="/project-view" i18n="@@menu.project">project</a>
        </li>
        <li class="nav-item" *ngIf="isAdmin">
          <a class="nav-link" routerLink="/user-view" i18n="@@menu.users">users</a>
        </li>

        <li class="nav-item dropdown"   *ngIf="isAuthenticated">
          <a class="nav-link dropdown-toggle" href="#" id="navbarReportDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"  i18n="menu: top menu reports@@menu.reporting">
            reporting
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarReportDropdown">
            <a class="dropdown-item" *ngIf="isLeadOrAdmin" routerLink="/report/project/byTask" i18n="@@menu.report.project">project report</a>
            <div class="dropdown-divider" *ngIf="isLeadOrAdmin"></div>
            <a class="dropdown-item" *ngIf="isAuthenticated" routerLink="/report/monthly/byDay" i18n="@@menu.report.byDay">report by day</a>
            <a class="dropdown-item" *ngIf="isAuthenticated" routerLink="/report/monthly/byProject" i18n="@@menu.report.byProject">report by project</a>
            <div class="dropdown-divider" *ngIf="isAdmin"></div>
            <a class="dropdown-item" *ngIf="isAdmin" routerLink="/report/user/byWork" i18n="@@menu.report.byUser">report user participation</a>
          </div>
        </li>

        <li class="nav-item" *ngIf="isAuthenticated">
          <a class="nav-link" routerLink="/password" i18n="@@menu.password">password</a>
        </li>
        <li class="nav-item" *ngIf="!isAuthenticated">
          <a class="nav-link" routerLink="/login" i18n="@@menu.login">login</a>
        </li>
      </ul>


      <ul class="navbar-nav ml-auto">
        <li class="nav-item" *ngIf="isAuthenticated">
          <a data-test="logout" class="nav-link" (click)="onLogout()" i18n-title="@@menu.logout" title="logout">
            <svg class="bi bi-power" width="2em" height="2em" viewBox="0 0 20 20" fill="currentColor"
              xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M7.578 6.437a5 5 0 104.922.044l.5-.865a6 6 0 11-5.908-.053l.486.874z"
                clip-rule="evenodd"></path>
              <path fill-rule="evenodd" d="M9.5 10V3h1v7h-1z" clip-rule="evenodd"></path>
            </svg>
          </a>
        </li>
      </ul>

    </div>
  </nav>


  <div class="row">
    <div class="col-12 d-print-none" style="text-align:center">
      <h1>
        <span i18n="@@app.welcome">Welcome to</span> {{ title }} {{environmentName}}
      </h1>
      <br />
    </div>
  </div>

  <div class="row">
    <div class="col-12" *ngIf="!!this.headerMessage">
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <span innerHtml="{{this.headerMessage}}"></span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div *ngIf="this.applicationError && this.applicationError.isError" data-test="errorMessage"
        class="alert alert-danger" role="alert">{{this.applicationError.message}}</div>
      <div *ngIf="this.applicationError && this.applicationError.isInfo" data-test="infoMessage"
        class="alert alert-secondary" role="alert">{{this.applicationError.message}}</div>
      <div *ngIf="!this.applicationError" class="alert-light" role="alert">&nbsp;</div>
    </div>
  </div>

  <div class="row">
    <div data-test="content column" class="col-12">
      <router-outlet></router-outlet>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      &nbsp;<br/>
    </div>
  </div>

  <div class="row">
    <div class="col-12">&nbsp;<br/></div>
  </div>

  <footer>
    <nav aria-label="footer navigation common links" class="navbar navbar-expand-lg navbar-dark bg-primary fixed-bottom nav-fill">

      <a class="navbar-brand" href="#">time@work</a>

      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="https://gitlab.com/spare-time-demos/timeatwork" tabindex="-1"
            aria-disabled="true">Site:&nbsp;gitlab</a>
        </li>
      </ul>

      <span *ngIf="isAuthenticated" data-test="footer-userId" class="nav-item navbar-text">
        <span i18n="@@footer.label.user">User:</span>&nbsp;{{ userId }}
      </span>

      <span data-test="footer-date" class="nav-item navbar-text">
        <span i18n="@@footer.label.date">Date:</span>&nbsp;{{ todayString }}
      </span>

      <span data-test="footer-language" class="nav-item navbar-text">
        <span i18n="@@footer.label.language">Language:</span>&nbsp;{{ this.localeId }}
      </span>

      <span data-test="footer-title" class="nav-item navbar-text">
        <span>Client:</span>&nbsp;{{ title }}
      </span>

      <span data-test="footer-env" class="nav-item navbar-text">
        <span i18n="@@footer.label.environment">Environment:</span>&nbsp;{{environmentName}}
      </span>

    </nav>
  </footer>

</div>

