<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>time@work root</title>
    </head>
    <body>
        <h1>root page, nothing interesting here</h1>

        <h2>start the app</h2>

        <p>Click <a th:href="@{/client/de/index.html}">here</a> to start the i18n <strong>GERMAN</strong> ui client.</p>
        <p>Click <a th:href="@{/client/en-US/index.html}">here</a> to start the english version.</p>

        <br />
        <br />
        <br />

        <h2>more diagnostic urls</h2>

        <p>Click <a th:href="@{/test}">here to get a test page</a> from this server backend.</p>
        <p>Click <a th:href="@{/test-protected}">here to get a protected test page</a> (prior login required).</p>
        <p>Click <a th:href="@{/login}">explicit login</a>.</p>
        <p>Click <a th:href="@{/logout}">logout</a>.</p>

        <br />

        <p><a href="https://gitlab.com/spare-time-demos/timeatwork">source</a> can be found on gitlab.</p>
    </body>
</html>