<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>time@work test page</title>
    </head>
    <body>
        <h1>test page, nothing interesting here</h1>

        <p>hello, this is the time@work backend</p>
        
        <p>html for the the <strong th:text="${url}"></strong> url!</p>
        
        <p><a th:href="@{/}">back to root</a></p>
    </body>
</html>