<div class="row" *ngIf="this.user">
  <div class="col-xs-12 col-sm-6">
    edit user: <span data-cy="user-id" class="badge badge-secondary">{{id}}</span>
  </div>
</div>

<div class="row" *ngIf="this.user">
  <div class="col-xs-12 col-sm-6">

    <form #f="ngForm" (ngSubmit)="onUserSave(this.user)">
      <div class="form-group">
        <input type="hidden" readonly class="form-control" [(ngModel)]="user.id" name="user-id">
      </div>
      <div class="form-group">
        <label for="user-userId">User Id</label>
        <input type="text" maxlength="100" class="form-control" name="user-userId" [(ngModel)]="this.user.userId" required>
        <small id="user-userId-help" class="form-text text-muted">unique user id used during login.</small>
      </div>
      <div class="form-group">
        <label for="user-name">Name</label>
        <input type="text" maxlength="100" class="form-control" name="user-name" [(ngModel)]="this.user.name" required>
        <small id="user-name-help" class="form-text text-muted">user name (first/surename)</small>
      </div>
      <div class="form-group">
        <label for="user-active">
        <input type="checkbox" name="user-active" data-toggle="toggle" [(ngModel)]="this.user.active">
        Active
        </label>
        <small class="form-text text-muted">active user (can be assigned to project tasks)</small>
      </div>
      <div class="form-group">
        <label for="user-locked">
          <input type="checkbox" name="user-locked" data-toggle="toggle" [(ngModel)]="this.user.locked">
          Locked
        </label>
        <small class="form-text text-muted">locked user (can not log in)</small>
      </div>
      <div class="form-group">
        <label class="form-check-label">
          <input type="checkbox" name="user-lead" data-toggle="toggle" [(ngModel)]="this.user.lead">
          Project Lead Role
        </label>
        <small class="form-text text-muted">project lead role, may work with projects an tasks</small>
      </div>
      <div class="form-group">
        <label class="form-check-label">
          <input type="checkbox" name="user-admin" data-toggle="toggle" [(ngModel)]="this.user.admin">
          Admin Role
        </label>
        <small class="form-text text-muted">admin account (may create new projects an administer users here</small>
      </div>

      <button type="submit" class="btn btn-primary"   title="save changed user">Save</button> &nbsp;
      <button type="button" class="btn btn-secondary" title="reset password" *ngIf="!!user.id && user.active" (click)="onPasswordReset(user)">Reset password</button> &nbsp;
      <button type="button" class="btn btn-secondary" title="back.." routerLink="/user-view">Back..</button>
    </form>

  </div>
</div>
