<div class="row">
  <div class="col-12">
    <h3>project: <span data-cy="project-id" class="badge badge-secondary">{{id}}</span></h3>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-6">

    <form #f="ngForm" (ngSubmit)="onProjectSave()">
      <div class="form-group" hidden>
        <label for="project-id" class="col-sm-2 col-form-label">id</label>
        <input type="number" readonly class="form-control" [(ngModel)]="id" name="id">
      </div>
      <div *ngIf="!!this.project" class="form-group">
        <label for="project-name">name</label>
        <input type="text" maxlength="100" minlength="1" required class="form-control" name="project-name" [(ngModel)]="this.project.name"
          aria-describedby="name of project" placeholder="project name" required #projectName="ngModel">
        <small id="project-name-help" class="form-text text-muted">must be unique.</small>
        <small [hidden]="projectName.valid || projectName.pristine" class="alert alert-danger">
          a unique project name is required
        </small>
      </div>
      <div *ngIf="this.project?.projectLeads?.length > 0" class="form-group">
        <label for="project-lead-1-dl">lead 1</label>
        <select class="form-control" name="project-lead-1-ld" required [compareWith]="this.compareTeamMembers"
          [(ngModel)]="this.project.projectLeads[0]">
          <option *ngFor="let member of this.teamMembers" [ngValue]="member">
            {{member.name}} ({{member.userId}})
          </option>
        </select>
      </div>
      <div *ngIf="this.project?.projectLeads?.length > 1" class="form-group">
        <label for="project-lead-2-dl">lead 2</label>
        <select class="form-control" name="project-lead-2-ld" [compareWith]="this.compareTeamMembers"
          [(ngModel)]="this.project.projectLeads[1]">
          <option [ngValue]="null">(no second lead)</option>
          <option *ngFor="let member of this.teamMembers" [ngValue]="member">
            {{member.name}} ({{member.userId}})
          </option>
        </select>
      </div>
      <div *ngIf="!!this.project" class="form-group form-check">
        <input type="checkbox" class="form-check-input" name="project-active" data-toggle="toggle"
          [(ngModel)]="this.project.active">
        <label class="form-check-label" for="project-active">is active</label>
      </div>
      <button type="submit" class="btn btn-primary">Save</button>
      &nbsp;
      <a class="btn btn-secondary" role="button" routerLink="/project-view">back..</a>
    </form>
  </div>
</div>

<div class="row mt-1">
  <div class="col-10">
    &nbsp;
  </div>
</div>

<div class="row">
  <div class="col-10">
    <h3>
      project tasks:
    </h3>
  </div>
</div>

<div class="row mt-1">
  <div class="col-10">
    &nbsp;
  </div>
  <div class="col-2">
    <button class="btn btn-outline-info"
      routerLink="/project-manage/project/{{this.project?.id}}/task">new task..</button>
  </div>
</div>

<div class="row mt-1" *ngFor="let task of tasks">
  <div class="col-10">
    <span class="badge badge-secondary">{{task.id}}</span>
    &nbsp;
    <a data-test="task-link" routerLink="/project-manage/project/{{this.project?.id}}/task/{{task.id}}">{{task.name}}</a>
  </div>
  <div class="col-2">
    <button class="btn btn-outline-danger" (click)="this.onTaskDeleteClick(task)">delete</button>
  </div>
</div>

