<div class="row">
  <div class="col-12">
    <h3 i18n="change password page header@@password.pageHeader">change password:</h3>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-6">

    <form #f="ngForm" (ngSubmit)="onPasswordChange()">
      <div class="form-group">
        <label for="password-old" i18n="@@password.label.password.current">current password:</label>
        <input type="password" maxlength="50" class="form-control"
          name="password-old" [(ngModel)]="this.passwordOld" required>
        <small id="project-name-help" class="form-text text-muted" i18n="@@password.hint.password.current">currently used password</small>
      </div>
      <div  class="form-group">
        <label for="password-new" i18n="@@password.label.newPassword">new password</label>
        <input type="password" maxlength="50" minlength="3" class="form-control"
          name="password-new" [(ngModel)]="this.passwordNew" required>
        <small id="project-name-help" class="form-text text-muted" i18n="@@password.hint.newPassword">choose new password</small>
      </div>
      <div  class="form-group">
        <label for="password-new-confirmation" i18n="second time password entry on change@@password.hint.newpassword.again">new password (again)</label>
        <input type="password" maxlength="50" minlength="3" class="form-control"
          name="password-new-confirmation" [(ngModel)]="this.passwordNewConfirmation" required>
        <small id="project-name-help" class="form-text text-muted" i18n="@@password.hint.newpasswordAgain">type above new password again</small>
      </div>
      <button type="submit" class="btn btn-primary" i18n="@@password.button.changepassword">Change Password</button>
      &nbsp;
      <a class="btn btn-secondary" role="button" routerLink="/time-entry" i18n="@@password.nav.backToTimeEntry">Back to time entry..</a>
    </form>
  </div>
</div>
