<div class="row">
  <div class="col-12">
    <h3>
      project report: {{this.projectName}}
      <div class="btn-group dropright">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{this.projectName}}
        </button>
        <div class="dropdown-menu">
          <button *ngFor="let project of this.projects" class="dropdown-item" (click)="onProjectChange(project)">
            <span data-test="project-id-badge" *ngIf="project.id" class="badge badge-secondary badge-pill">{{project.id}}</span>
            &nbsp;
            {{project.name}}
          </button>
        </div>
      </div>
      </h3>
  </div>
</div>

<div class="row">
  <div class="col-12">
    &nbsp;
  </div>
</div>

<div class="row">
  <div class="col-10">
    <button type="button" class="btn btn-light d-print-none" (click)="onMonthDisplayChange(-1)">
      -
    </button>
    month {{this.from}}
    <button type="button" class="btn btn-light  d-print-none" (click)="onMonthDisplayChange(1)">
      +
    </button>
    &nbsp;

  </div>
  <div class="col-2">
    <button  data-test="button-excel-download" *ngIf="!!this.projectTaskResult && this.projectTaskResult.length >= 1"
      class="btn btn btn-outline-primary btn-sm d-print-none"
      (click)="onDownloadExcel()">
      Excel Download..
    </button>
  </div>
</div>

<div class="row" *ngIf="!!this.projectTaskResult && this.projectTaskResult.length >= 1">
  <div class="col-8">task</div>
  <div class="col-2">entries</div>
  <div class="col-2">total hours</div>
</div>
<div class="row" *ngIf="(!this.projectTaskResult || this.projectTaskResult.length === 0) && this.projectId !== 0">
  <div class="col-12">
    <p>
      <br /><em>no work done in project.</em><br />
    </p>
  </div>
</div>
<div class="row" *ngIf="!this.projectId || this.projectId === 0">
  <div class="col-12">
    <p>
      <br /><em>choose a project to report.</em><br />
    </p>
  </div>
</div>

<div class="row" data-test="report-data-row" *ngFor="let taskWork of this.projectTaskResult">
  <div class="col-8"><strong>{{taskWork.taskName}}</strong></div>
  <div class="col-2">{{taskWork.workHoursCount}}</div>
  <div class="col-2"><strong>{{taskWork.workHoursSum}}</strong>&nbsp;h</div>
</div>


