<div class="row">
  <div class="col-12">
    <h3>
      <span i18n="prose@@report.byProject.header">your own monthly report grouped by project:</span> {{this.fromTitle}}
      <span *ngIf="!!this.monthlyWorkByProjectReport">&nbsp;({{this.monthlyWorkByProjectReport.monthlyHours}} h)</span>
    </h3>
  </div>
</div>

<div class="row d-print-none">
  <div class="col-10">
    <button type="button" class="btn btn-light" (click)="onMonthDisplayChange(-1)">
      -
    </button>
    <span i18n="@@report.byProject.label.month">month</span> {{this.from}}
    <button type="button" class="btn btn-light" (click)="onMonthDisplayChange(1)">
      +
    </button>
  </div>

  <div class="col-2">
    <button  data-test="button-excel-download" *ngIf="!!this.monthlyWorkByProjectReport && this.monthlyWorkByProjectReport.monthlyHours >= 0"
      class="btn btn btn-outline-primary btn-sm d-print-none"
      (click)="onDownloadPdf()" i18n="@@report.common.button.pdfDownload">
      PDF Download..
    </button>
  </div>
</div>

<div class="row"  data-test="report-data-row" *ngFor="let report of this.projectWorkReports">
  <div class="col-12">

      <div class="row border row-day">
        <div class="col-8">{{report.projectName}} &nbsp; ({{report.projectHours}}h)</div>
        <div class="col-4"></div>
      </div>

      <div class="row" *ngIf="!report.taskWorks || report.taskWorks.length == 0">
        <div class="col-2"></div>
        <div class="col-8" i18n="@@report.error.noWorkDone">no work done</div>
        <div class="col-2"></div>
      </div>

      <div *ngFor="let taskWork of report.taskWorks">
        <div class="row border">
          <div class="col-2"></div>
          <div class="col-4">{{taskWork.taskName}}</div>
          <div class="col-2">{{taskWork.workHours}}h</div>
          <div class="col-4"></div>
        </div>

        <div class="row" *ngFor="let dailyTaskWork of taskWork.dailyTaskWorks">
          <div class="col-2"></div>
          <div class="col-6"></div>
          <div class="col-2">{{dailyTaskWork.date}}</div>
          <div class="col-2">{{dailyTaskWork.workHours}}h</div>
        </div>
      </div>
  </div>
</div>

