<div class="row">
  <div class="col-12">
    <h3>
      your own monthly report grouped by day: {{this.fromTitle}}
      <span *ngIf="!!this.monthlyWorkReport">&nbsp;({{this.monthlyWorkReport.monthlyHours}} h)</span>
    </h3>
  </div>
</div>

<div class="row d-print-none">
  <div class="col-12">
    <button type="button" class="btn btn-light" (click)="onMonthDisplayChange(-1)">
      -
    </button>
    month {{this.from}}
    <button type="button" class="btn btn-light" (click)="onMonthDisplayChange(1)">
      +
    </button>
  </div>
</div>

<div class="row" data-test="report-data-row" *ngFor="let report of this.dailyWorkReports">
  <div class="col-12">

      <div class="row border row-day">
        <div class="col-10">{{report.date}}</div>
        <div class="col-2 border">{{report.dailyHours}}h</div>
      </div>

      <div class="row" *ngIf="!report.dailyTaskWorks ||  report.dailyTaskWorks.length == 0">
        <div class="col-2"></div>
        <div class="col-8">no work done</div>
        <div class="col-2"></div>
      </div>

      <div class="row border" *ngFor="let taskWork of report.dailyTaskWorks">
        <div class="col-2"></div>
        <div class="col-6">{{taskWork.projectName}}/{{taskWork.taskName}}</div>
        <div class="col-2 border">{{taskWork.workHours}}h</div>
        <div class="col-2"></div>
      </div>

  </div>
</div>
