<div class="row">
  <div class="col-12">
    <h3>users:</h3>
  </div>
</div>

<div class="row">
  <div class="col-12 col-md-8">
    <br />
    <button *ngIf="canManageUser" type="button" class="btn btn-secondary"  routerLink="/user-details">new user..</button>
  </div>
</div>

<div class="row">

  <div class="col-12 col-md-8">

    <ul class="list-group list-group-flush">
      <li class="list-group-item d-flex align-items-center justify-content-between"
          *ngFor="let user of users"
          [class.selected]="user === selectedUser"
          routerLink="/user-details/{{user.id}}">
        <span>
          <span data-test="user-id-badge" *ngIf="user.id" class="badge badge-secondary badge-pill">{{user.id}}</span>&nbsp;
          <strong>{{user.userId}}</strong>:&nbsp;
          {{user.name}}
        </span>

        &nbsp;
        <span>
          <span *ngIf="!user.active" class="badge badge-light">inactive</span>
          <span *ngIf="user.locked" class="badge badge-warning">locked</span>
        </span>
        <span>
          <span *ngIf="user.admin" class="badge badge-danger badge-pill">admin</span>
          <span *ngIf="user.lead" class="badge badge-secondary badge-pill">lead</span>
        </span>
      </li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-12">&nbsp;<br/></div>
</div>

