<div class="row" *ngIf="!!workWeekMessage">
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <span innerHTML="{{workWeekMessage}}"></span>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <h3 i18n="page header:work week|work week time entry@@workWeek.pageHeader@@workEntry.header">work:</h3>
  </div>
</div>

<form #timeEntryForm="ngForm" [hidden]="!this.workWeek" (ngSubmit)="onWeekSave(timeEntryForm)" class="needs-validation" novalidate>

  <!-- time range change&display -->
  <div class="row">
    <div class="col-12 d-none d-md-block">
      <button type="button" data-test="prev7" class="btn btn-light" [hidden]="!timeEntryForm.pristine" [disabled]="!timeEntryForm.pristine" (click)="onDateDisplayChange(-7)">
        -
      </button>
      <span i18n> in week </span><span data-test="inWeek">{{this.from}}</span>
      <button type="button" data-test="next7" class="btn btn-light"  [hidden]="!timeEntryForm.pristine" [disabled]="!timeEntryForm.pristine" (click)="onDateDisplayChange(7)">
        +
      </button>
    </div>
    <div class="col-12 d-md-none">
      <button type="button" class="btn btn-light" [disabled]="!timeEntryForm.pristine" (click)="onDateDisplayChange(-1)">
        -
      </button>
      <span i18n="label wor current week@@workWeek.label.inWeek">in week</span> {{this.from}}
      <button type="button" class="btn btn-light" [disabled]="!timeEntryForm.pristine" (click)="onDateDisplayChange(1)">
        +
      </button>
    </div>
  </div>

  <div class="row mt-1">
    <div class="col-2" i18n="table caption: task|task@@common.label.task">task</div>
    <div class="col-1" i18n="table caption: monday@@common.label.shortMonday">mo</div>
    <div class="col-1" i18n="table caption: tuesday@@common.label.shortTuesday">tu</div>
    <div class="col-1" i18n="table caption: wednesday@@common.label.shortWednesday">we</div>
    <div class="col-1" i18n="table caption: wednesday@@common.label.shortThursday">th</div>
    <div class="col-1" i18n="table caption: wednesday@@common.label.shortFriday">fr</div>
    <div class="col-1" i18n="table caption: wednesday@@common.label.shortSaturday">sa</div>
    <div class="col-1" i18n="table caption: wednesday@@common.label.shortSunday">so</div>
    <div class="col-1" i18n="table caption: sum@@common.label.shortSum">sum</div>
  </div>

  <div class="form-row mt-2" *ngFor="let taskWeek of this.workWeek?.taskWeeks">
    <div data-test="taskWeek" class="form-group col-2">
      {{taskWeek.taskName}}
    </div>

    <div class="form-group col-1" *ngFor="let dayOffset of [0,1,2,3,4,5,6]">

      <div class="input-group">
        <input
          type="number"
          placeholder="h"
          min="0"
          max="24"
          required
          pattern="[0-9]*"
          step="1"
          class="form-control"
          name="workHour_task{{taskWeek.taskId}}_day{{dayOffset}}"
          [readonly]="taskWeek.workHours[dayOffset].readOnly"
          [(ngModel)]="taskWeek.workHours[dayOffset].workHours"
          #hourInputField="ngModel">

          <div *ngIf="hourInputField.invalid" data-toggle="tooltip" i18n-title="wrong hour entry@@workWeek.input.hint.invalidHours" title="invalid hours input"> <span class="badge badge-pill badge-danger">!</span></div>
      </div>
    </div>

    <div class="form-group col-1 d-none d-md-block">
      <span class="badge badge-secondary">{{sumOfTask(taskWeek)}}</span>
    </div>
  </div>

  <!-- daily sums row -->
  <div class="row mt-1">
    <div class="col-2" i18n=@@workWeek.tableFooter.sums>Summen</div>
    <div class="col-9 col-md-1">
      <span class="badge badge-secondary">{{sumOfDay(0)}}</span>
    </div>
    <div class="col-1 hidden-xs-down" *ngFor="let dayOffset of [1,2,3,4,5,6]">
      <span class="badge badge-secondary">{{sumOfDay(dayOffset)}}</span>
    </div>
    <div class="col-1 hidden-xs-down">
    </div>
    <div class="col-1 hidden-xs-down">
      &nbsp;
    </div>
  </div>

  <!-- daily work bar chart -->
  <div class="row mt-1">
    <div class="col-2">&nbsp;</div>
    <div class="col-7 hidden-xs-down">
      <ngx-charts-bar-vertical-stacked
        [results]="this.getChartData(this.workWeek)"
        [showGridLines]="true"
        [showDataLabel]="true"
        [animations]="false"
        [gradient]="true"
        [yAxis]="false"
        [xAxis]="true">
      </ngx-charts-bar-vertical-stacked>
    </div>
    <div class="col-3">&nbsp;</div>
  </div>

  <div class="row mt-1">
    <div class="col-2 col-md-2">
      <button type="submit" [disabled]="!timeEntryForm.valid" class="btn btn-primary" data-toggle="tooltip" data-placement="top"
        title="save changed working hours." i18n="button: save|save week@@workWeek.button.saveWeek">
        save
      </button>
    </div>
    <div class="col-8 text-danger" [hidden]="timeEntryForm.valid" i18n="error message: workWeekData|invalid data entry@@workWeek.error.invalidData">
      (prior to saving, please correct input data)
      </div>
  </div>
</form>
