<div class="row">
  <div class="col-12">
    <h3>task: <span class="badge badge-secondary">{{id}}</span></h3>
  </div>
</div>

<div class="row">
  <div class="col-12 col-md-6">

    <form #f="ngForm" (ngSubmit)="onTaskSave()">
      <div class="form-group" hidden>
        <label for="task-id" class="col-sm-2 col-form-label">id</label>
        <input type="text" readonly class="form-control" id="task-id" [(ngModel)]="id" name="id">
      </div>
      <div *ngIf="!!this.task" class="form-group">
        <label for="task-name">name</label>
        <input type="text" maxlength="100" class="form-control" id="task-name" name="name" [(ngModel)]="this.task.name"
          aria-describedby="name of task" placeholder="task name" required>
        <small id="task-name-help" class="form-text text-muted">must be unique.</small>
      </div>
      <button type="submit" data-toggle="tooltip" data-placement="top" title="save above task data."
        class="btn btn-primary">
        Save
      </button>
      &nbsp;
      <button class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="back to project.."
        routerLink="/project-manage/project/{{this.projectId}}">back..</button>
    </form>
  </div>
</div>

<div class="row">
  <div class="col-12">
    &nbsp;
  </div>
</div>

<div class="row">
  <div class="col-12">
    <h3>task assignments:</h3>
  </div>
</div>

<div class="row">
  <div class="col-4 d-none d-md-block">team member</div>
  <div class="col-3 d-none d-md-block">from</div>
  <div class="col-3 d-none d-md-block">until</div>
  <div class="col-2 d-none d-md-block"></div>
</div>

<div class="row mt-1" *ngFor="let assignment of taskAssignments">
  <div *ngIf="!!assignment" data-test="assignment" class="col-12 col-md-4">
    <span class="badge badge-secondary">{{assignment.teamMember.userId}}</span>
    &nbsp;
    {{assignment.teamMember.name}}
  </div>
  <div class="col-5 col-md-3">
    <div class="input-group">
      <input class="form-control" placeholder="yyyy-mm-dd" name="dateFrom" [ngModel]="assignment.from"
        (dateSelect)="onAssignmentDateFromChange(assignment, $event)" ngbDatepicker #dateFrom="ngbDatepicker">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary calendar" (click)="dateFrom.toggle()">..</button>
      </div>
    </div>
  </div>
  <div class="col-5 col-md-3">
    <div class="input-group">
      <input type="text" name="dateUntil" #dateUntil="ngbDatepicker" class="form-control" ngbDatepicker
        [ngModel]="assignment.until" (dateSelect)="onAssignmentDateUntilChange(assignment, $event)">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary calendar" (click)="dateUntil.toggle()">..</button>
      </div>
    </div>
  </div>
  <div class="col-2 col-md-2">
    <button class="btn btn-outline-danger" data-toggle="tooltip" data-placement="top"
      title="remove this assignment from task." (click)="this.onAssignmentDeleteClick(assignment)">delete
    </button>
  </div>
</div>

<div class="row">
    <div class="col-12">
      <hr />
    </div>
</div>

<form #fa="ngForm" *ngIf="!!this.newAssignment && !!this.teamMembers && !!this.task && !!this.task.id" (ngSubmit)="onAssignmentCreate()">
  <div class="row">
    <div class="col-8 col-md-4">
      <select class="form-control" name="new-assignment-member" [compareWith]="this.compareTeamMembers"
        [(ngModel)]="this.newAssignment.teamMember">
        <option [ngValue]="null">(assign new member..)</option>
        <option *ngFor="let member of this.teamMembers" [ngValue]="member">
          {{member.name}} ({{member.userId}})
        </option>
      </select>
    </div>
    <div class="col-2 col-md-2">
      <button type="submit" class="btn btn-outline-info"
        data-toggle="tooltip" data-placement="top"
        [title]="this.newAssignment.teamMember === null ? 'please select team member before clicking here' : 'add new team member'"
        *ngIf="!!this.newAssignment || !!this.newAssignment.task || !!this.newAssignment.task.id"
        [disabled]="!this.newAssignment.teamMember || !this.newAssignment.task || !this.newAssignment.task.id">
        add
      </button>
    </div>
  </div>
</form>
