
<div class="row">
  <div class="col-xs-12 col-sm-6">

    <form #f="ngForm" (ngSubmit)="onLogin()">
      <div class="form-group">
        <label for="userId" class="col-sm-2 col-form-label" i18n="label user@@login.label.user">user</label>
        <input type="text" minlength="3" maxlength="20" class="form-control" [(ngModel)]="userId"
          name="userId">
      </div>
      <div class="form-group">
        <label for="password" class="col-sm-2 col-form-label" i18n="label password@@login.label.password">password</label>
        <input type="password" minlength="1" maxlength="20" class="form-control" [(ngModel)]="password"
          name="password">
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary" i18n="login button@@login.button.login">login</button>
      </div>

    </form>

  </div>
</div>

<div class="row d-none d-sm-block">
  <div class="col-12">
      &nbsp;
  </div>
</div>

<div class="row d-none d-sm-block" *ngIf="!!loginMessage">
  <div class="col-12 jumbotron">
      <p class="lead" innerHtml="{{loginMessage}}"></p>
  </div>
</div>
